<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BiomasaEUPT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <BiomasaEUPT.Properties.Settings>
      <setting name="ModoDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActualizarPrograma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="usuario" serializeAs="String">
        <value />
      </setting>
      <setting name="contrasena" serializeAs="String">
        <value />
      </setting>
      <setting name="TamanoVentana" serializeAs="String">
        <value />
      </setting>
      <setting name="PosicionVentana" serializeAs="String">
        <value />
      </setting>
      <setting name="TabActiva" serializeAs="String">
        <value />
      </setting>
      <setting name="PosicionTab" serializeAs="String">
        <value />
      </setting>
      <setting name="VentanaMaximizada" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModoNocturno" serializeAs="String">
        <value>False</value>
      </setting>
    </BiomasaEUPT.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="f4fb5a3c4d1e5b4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.23" newVersion="1.5.0.23" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BiomasaEUPTContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=BiomasaEUPT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BiomasaEUPTContext1" connectionString="Data Source=155.210.68.124,49170;Initial Catalog=BiomasaEUPT;Integrated Security=False;User ID=usuario;Password=usuario;Connect Timeout=15;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>